.login_img {
  background-image: url(../assets/img/login_img.jpg);
  background-repeat: no-repeat;
  background-color: #000;
  background-size: contain;
  height: 100vh;
}

.no-margin {
  margin: 0;
}

.container_form{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 40vh;
}